
<!-- <h1 *ngIf="rating==1">{{rating}}</h1> -->
<h1>Ratings</h1>
<div *ngIf="rating==1">
<img src="../../assets/Star-1.jpg" alt="">
</div>


<div *ngIf="rating==2">
    <img src="../../assets/Star-2.jpg" alt="Twostar">
</div>

<div *ngIf="rating==3">
    <img src="../../assets/Star-3.jpg" alt="Threestar">
</div>

<div *ngIf="rating==4">
    <img src="../../assets/Star-4.jpg" alt="Fourstar">
</div>
<div *ngIf="rating==5">
    <img src="../../assets/Star-5.jpg" alt="Fivestar">
</div>
<!-- <h2 *ngIf="rating==2">{{rating}}</h2>

<h2></h2> -->