
<div class="parent">
    
    <div class="left">
        <marquee behavior="scroll" direction="rtl"><h1>Dashboard</h1></marquee>
       
        <hr>
        <!-- <h3 routerLink="login">login</h3> -->
        <h3 routerLink="structuraldirectives">structuraldirectives</h3>
        <h3 routerLink="pipes">Pipes</h3>
        <h3 routerLink="marks">Marks</h3>
        <h3 routerLink="events">Events</h3>
        <h3 routerLink="cars">Cars</h3>
        <h3 routerLink="products">Products</h3>
        <h3 routerLink="create-user">CreateUser</h3>
        <h3 routerLink="create-account">CreateAccount</h3>
        <h3 routerLink="create-vehicles">CreateVehicles</h3>
        <h3 routerLink="user-form">UserForms</h3>
        <h3 routerLink="student-form">StudentForm</h3>
        <h3 routerLink="users">Users</h3>
        <h3 routerLink="accounts">Accounts</h3>
        <h3 routerLink="vehicles">vehicles</h3>
        <h3 routerLink="flipkarts">Flipkart</h3>
        <h3 routerLink="emails">Emails</h3>
        <h3 routerLink="activity">Activity</h3>
        <h3 routerLink="memes">Memes</h3>
        <h3 routerLink="userinfo">UserInfo</h3>
        <h3 routerLink="parent">Parent</h3>
        <h3 routerLink="items">Items</h3>
        <h3 routerLink="nav">Nav</h3>
        <h3 routerLink="cart">Cart</h3>   
        <h3 routerLink="rating">Rating</h3>     
        <button (click)="logout()" class="logout">Logout</button>

    </div>
    <div class="right">
        <router-outlet></router-outlet> 
        
    </div>
    
</div>